<!-- Main content-->
<section class="content">
    <div class="container-center animated slideInDown">
        <div class="view-header">
            <div class="header-icon">
                <i class="pe page-header-icon pe-7s-unlock"></i>
            </div>
            <div class="header-title">
                <h3>Login</h3>
                <small>
                    Por favor ingrese sus credenciales para ingresar.
                </small>
            </div>
        </div>

        <div class="panel panel-filled">
            <div class="panel-body">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" formControlName="username" placeholder="example@gmail.com" title="Please enter you username" class="form-control">
                        <div *ngIf="loginForm.get('username')?.hasError('required') 
                                && loginForm.get('username')?.touched; else validUser">
                            <div class="text-danger">
                                <span>El producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <ng-template #validUser>
                            <div>
                                <span class="help-block small">Ingrese su correo</span>
                            </div>
                        </ng-template>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" formControlName="password" title="Please enter your password" placeholder="******" class="form-control">
                        <div *ngIf="loginForm.get('password')?.hasError('required') 
                                && loginForm.get('password')?.touched; else validPassword">
                            <div class="text-danger">
                                <span>El password <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <ng-template #validPassword>
                            <div>
                                <span class="help-block small">Ingrese su password</span>
                            </div>
                        </ng-template>
                    </div>
                    <div>
                        <button class="btn btn-accent" type="submit" [disabled]="loginForm.invalid">Login</button>
                        <a class="btn btn-default" routerLink="/crear-usuario">Nuevo Usuario</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->



